*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #151310;
  }
  
  
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      background: #151310;
      color: aliceblue;
  }
  
    .caixa {
      position: relative;
      width: 700px;
      height: 500px;
      color: aliceblue;
      background: #151310;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
  
    }
  
    input{
      border: none;
      border-radius: 30px; 
      border: 3px white;
      padding: 10px;
    }
  
    button{
      border:none;
      border-radius: 10px;
      padding: 10px;
    }
    .caixa::before,
    .caixa::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      background: linear-gradient(
        45deg,
        #ffff00,
        #00ff00,
        #0099ff,
        #001aff,
        #a200ff,
        #ff0055,
        #ff0000,
        #ffff00,
        #00ff00,
        #0099ff,
        #001aff,
        #a200ff
      );
      background-size: 300%;
      border-radius: 8px;
      animation: AnimarBorda 8s linear alternate infinite;
    }
  
    @keyframes AnimarBorda {
      0% {
        background-position: 0;
      }
      100% {
        background-position: 300%;
      }
    }